language: java
group: stable
dist: precise
os: linux
install: 
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
script:
- mvn test -B -Dmaven.test.failure.ignore=true
- mvn cobertura:cobertura -Dcobertura.report.format=xml
